* {
    font-family: museo-sans-rounded, sans-serif;
}

body {
    font-size: calc(14px + (25 - 14) * ((100vw - 300px) / (2000 - 300)));
}

h1 {
    color: $trc-green;
    font-weight: 800;
    font-size: 2.3em;
    margin-bottom: 0.8em;
    font-family: museo-sans-rounded, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    &:link {

    }
    &:visited {

    }
    &:hover {
        text-decoration: underline;
    }
}

p {
    line-height: 1.5;
    color: $trc-grey;
    font-size: 0.8em;
    font-weight: 300;
    font-family: museo-sans-rounded, sans-serif;
    + p {
        margin-top: 1.5;
    }
}

li {
    font-family: museo-sans-rounded, sans-serif;
    text-decoration: none;
}
