// imports

@import 'vars';
@import 'typography';
@import 'breakpoints';


* {
    ::selection {
        color: $trc-green;
        background: white;
    }   
}

body {
    background-color: $trc-grey;
}

.thirdrail {
    color: white;
    font-family: museo-sans-rounded, sans-serif;
    font-weight: 800;
    font-size: 1.3em;
}

.bg {
    background-image: url('../assets/img/bg.jpg');
    background-size: cover;
    position: absolute;
    width: 100vw;
    height: calc(100vh - 75px);
    opacity: 0.5;
    z-index: -1;
    @include for-tablet-portrait-up {
        height: 100vh;
    }
}

// global

.underline {
    position: relative;
    &::after{
        content: "";
        width: 100%;
        height: 2px;
        background-color: $trc-green;
        bottom: 0;
    }
}

header {
    position: fixed;
    background: transparent;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    .left {
        width: 225px;
        height: 75px;
        display: flex;
        .menu-tab {
            height: 100%;
            width: 150px;
            background: $trc-green;
            display: flex;
            align-items: center;
            padding: 0.5em;
            box-sizing: border-box;
            justify-content: space-evenly;
            .burger {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 30%;
                width: 20%;
                .line {
                    width: 100%;
                    height: 3px;
                    background: white;
                    border-radius: 50px;
                    transition: all ease 0.25s;
                }
            }
            p.menu-state {
                color: #fff;
                font-family: museo-sans-rounded, sans-serif;
                display: block;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 0.7em;
            }
            &:hover {
                cursor: pointer;
                >.burger {
                    > .line:first-of-type {
                        transform: rotate(36deg);
                    }
                    > .line:nth-of-type(2) {
                        opacity: 0;
                    }
                    > .line:nth-of-type(3) {
                        transform: rotate(-36deg);
                    }
                }
            }
        }
        .chat-tab {
            height: 100%;
            width: 75px;
            background: $trc-grey;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            transition: width ease 0.25s;
            span {
                p {
                    // display: none;
                    color: #fff;
                    font-family: museo-sans-rounded, sans-serif;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 0.7em;
                    width: 0;
                    opacity: 0;
                }
            }
            svg path {
                fill: #fff;
            }
            &:hover {
                cursor: pointer;
                width: 150px;
                &>span {
                    p {
                        padding-left: 1em;
                        display: block;
                        opacity: 1;
                        width: auto;
                        transition: all ease 0.25s;
                    }
                }
            }
        }
    }
    .right {
        .svg {
            position: relative;
            transition: all ease 0.25s;
            svg {
                width: 40px;
                padding-right: 2em;
            }
            @include for-tablet-portrait-up {
                &:after {
                    content: "thirdrail";
                    color: white;
                    font-size: 28px;
                    font-weight: 800;
                    font-family: museo-sans-rounded, sans-serif;
                    position: absolute;
                    left: 46px;
                    top: -2px;
                    bottom: 0;
                    margin: auto;
                    opacity: 0;
                    transition: all ease 0.25s;
                }
                &:hover {
                    padding-right: 110px;
                    cursor: pointer;
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

footer {
    height: 10vh;
    background-color: $trc-green;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;

    @include for-desktop-up {
        width: 50%;
    }
}

main {
    height: 80vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    padding-top: 75px;
}

// button

button {
    color: #fff;
    text-transform: uppercase;
    border: none;
    font-size: 0.6em;
    font-weight: 700;
    margin-top: 2.5em;
    display: block;
    padding: 1.5em 3em;
    border-radius: 50px;
    letter-spacing: 2px;
    align-self: flex-start;
    &.green {
        background-color: $trc-green;
    }
    &.grey {
        background-color: $trc-grey;
    }
}

.wpcf7 {
    width: 100%;
    input, textarea, select {
        height: auto;
        padding: 1em;
        border: none;
        background-color: #fff;
        margin-bottom: 1.5em;
        width: 100%;
        box-sizing: border-box;
        &:focus {
            outline-color: $trc-green;
            outline-offset: -5px;
            outline-style: solid;
        }
    }
    textarea {
        height: 25vh;
        max-height: 200px;
        margin-bottom: 0;
    }
    .name-email {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        @include for-tablet-portrait-up {
            flex-direction:  row;
        }
        #home-name, #home-email {
            width: 100%;
        }
    }
    .wpcf7-form-control-wrap {
        width: 100%;
        @include for-tablet-portrait-up {
            width: 48%;
        }
    }
}

// Front page

.home-left, .home-right {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    @include for-tablet-portrait-up {
        padding: 1em;
    }
}

.home-left {
    position: relative;
    box-sizing: border-box;
    @include for-tablet-portrait-up {
        width: 60%;
    }
    h1 {
        display: inline-block;
    }
    p {
        display: inline-block;
        width: 100%;
        @include for-tablet-portrait-up {
            width: 80%;
            max-width: 600px;
        }
    }
    .foot-line {
        width: 40%;
        height: 3px;
        background-color: #44b06c;
        position: absolute;
        bottom: -3%;
        left: 0;
        display: none;
    }
}

.home-right {
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    position: relative;
    @include for-tablet-portrait-up {
        justify-content: center;
        width: 40%;
    }
    form {
        width: 100%;
        margin: 0 auto;
        @include for-tablet-portrait-up {
            width: 100%;
        }
        input, textarea, select {
            width: 100%;
            border-radius: 0;
            font-family: museo-sans-rounded, sans-serif;
            -webkit-appearance: none;
            -webkit-border-radius: 0px;
            background: #eee;
            padding: 1.5em;
            box-sizing: border-box;
            font-size: 0.6em;
            &:focus {
                outline-color: $trc-green;
                outline-offset: -6px;
                outline-style: solid;
                outline-width: 3px;
            }
        }
        input[type="submit"] {
            color: #fff;
            text-transform: uppercase;
            border: none;
            font-size: 0.6em;
            font-weight: 700;
            margin-top: 2em;
            display: block;
            padding: 1.5em 3em;
            background-color: $trc-green;
            height: auto;
            letter-spacing: 2px;
            transition: background ease 0.25s;
            &:focus {
                outline-style: none;
            }
            &:hover {
                background-color: $trc-green;
                cursor: pointer;
            }
            @include for-tablet-portrait-up {
                background-color: $trc-grey;
            }
        }
        select {
            font-family: museo-sans-rounded, sans-serif;
            text-transform: uppercase;
            color: #a7a7a7;
        }
    }
    ::placeholder {
        text-transform: uppercase;
        color: rgba(black, 0.5);
        font-size: 0.9em;
        letter-spacing: 2px;

    }
}

// footer

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    > div {
        display: flex;
        li {
            display: inline-block;
            a {
                color: #fff;
                font-size: 0.7em;
            }
        }
    }
    p {
        &.tag {
            color: #fff;
            padding-right: 2em;
            font-weight: 800;
            font-size: 0.5em;
        }
    }
    .foot-line {
        height: 3px;
        background-color: #44b06c;
        margin: 0 3em;
        width: 100%;
    }
}

div.wpcf7-response-output, div.wpcf7-validation-errors { display: none !important; }
span.wpcf7-not-valid-tip { display: none; }
input[aria-invalid="true"], select[aria-invalid="true"] { border-color: red; background-color: rgba(153,0,0,0.3); }
